<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>httpi.pe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="bootstrap/css/darkstrap.min.css" rel="stylesheet" media="screen">
        <style>
        body {
            /* used for navbar - not needed for now padding-top: 60px; */
            padding-top: 10px;
        }

        .icon-ajax {
            background-image: url("img/ajax-dark.gif");
            background-position: 0 0;
            width: 16px;
            height: 16px;
            line-height: 16px;
        }

        .nav {
            margin-bottom: 0px;
        }

        .top-container .info {
            margin-bottom: 10px;
        }
        .top-container .sid {
            font-style: italic;
        }

        .magic-url {
            font-weight: bold;
        }

        /* TODO sucky selector, search-replace this */
        .request .accordion-heading .icon-refresh {
            border: 1px solid #2f2f2f;
        }
        .request .accordion-heading .icon-refresh:hover {
            border: 1px solid #eee;
            cursor: pointer;
        }
        </style>
    </head>
    <body>
        <!-- not needed for now <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">httpi.pe</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container top-container">
            <div class="row">
                <div class="span3">
                    <h1>httpi.pe</h1>
                    <span class="sid">Loading...</span>
                </div>
                <div class="span9 info">
                    Make requests to <span class="magic-url"></span>. We will log it for you, but this is not the highlight of this service.<br/>
                    The real magic is that we let you redirect the request to an internal web server using a lightweight redirector running on your machine. <a href="https://github.com/eranrund/httpipe">Learn more...</a>
                </div>
            </div>
        </div>

        <div class="container" id="requests-container">
        </div>

        <!-- Templates -->
        <script type="text/template" id="request-template">
        <div id="<%= req.id %>" class="request row">
            <div class="span12">
                <div class="accordion" id="accordion-<%= req.id %>">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" style="float:left;" data-toggle="collapse" data-parent="#accordion-<%= req.id %>" href="#collapse-<%= req.id %>">
                                <!-- <i class="icon-thumbs-up" style="display:none;"></i>
                                <i class="icon-thumbs-down" style="display:none;"></i> -->
                                <i class="icon-ajax"></i>
                                <div class="status-text label"></div>
                                <%= req.method %> <%= _.escape(req.url) %>
                            </a>
                            <div style="float:right; padding: 8px 15px;">
                                <%= moment.utc(req.started_at).local().format() %>
                                <a title="Replay request"><i class="icon-refresh"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    <div id="collapse-<%= req.id %>" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-<%= req.id %>-req" data-toggle="tab">Request</a>
                            <li><a href="#tab-<%= req.id %>-resp" data-toggle="tab">Response</a>
                        </ul>
                        <div class="tab-content">
                            <!-- request tab -->
                            <div class="tab-pane active" id="tab-<%= req.id %>-req">
                                <h4>Headers</h4>
                                <table class="req-headers table table-condensed">
                                    <tbody>
                                    <% _.each(req.headers, function(v, k) { %>
                                        <tr>
                                            <td><%= _.escape(k) %></td>
                                            <td><%= _.escape(v) %></td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>

                                <% if (req.data.length) { %>
                                    <h4>Body</h4>
                                    <div style="max-height: 200px; overflow-y: auto;">
                                        <pre><%= _.escape(req.data) %></pre>
                                    </div>
                                <% } %>
                            </div>

                            <!-- response tab -->
                            <div class="tab-pane tab-response" id="tab-<%= req.id %>-resp">
                                Waiting for response...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </script>

        <script type="text/template" id="response-template">
        <h4>Headers</h4>
        <table class="resp-headers table table-condensed">
            <tbody>
            <% _.each(resp.headers, function(v, k) { %>
                <tr>
                    <td><%= _.escape(k) %></td>
                    <td><%= _.escape(v) %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>

        <h4>Body</h4>
        <div style="max-height: 200px; overflow-y: auto;">
            <% var ct = resp.headers['content-type']; %>
            <% if (ct.indexOf('image/') == 0) { %>
                <img src="data:<%=ct%>;base64,<%=resp.data%>" />
            <% } else if ((ct.indexOf('text/') == 0) ||
                        (ct.indexOf('application/javascript') == 0)) { %>
                <pre><%= _.escape(base64_decode(resp.data)) %></pre>
            <% } else {
                var decoded = base64_decode(resp.data);
                if (/[\x00-\x09\x0E-\x1F]/.test(decoded)) { %>
                    <pre>Response seems to contain binary data!<br/><a href="#" class="resp-view-binary">View anyway</a>&nbsp;|&nbsp;<a href="data:application/octet-stream;charset=utf-8;base64,<%=resp.data%>">Download</a></pre>
                    <pre style="display:none;"><%= _.escape(decoded) %></pre>
                <% } else { %>
                    <pre><%= _.escape(decoded) %></pre>
                <% } %>
            <% } %>
        </div>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="/__httpipe_socket.io/socket.io.js"></script>
        <script type="text/javascript">
///////////////////////////////////////////////////////////////////////////////
// Settings
///////////////////////////////////////////////////////////////////////////////

var HTTPIPE_SID_LEN = 10;

///////////////////////////////////////////////////////////////////////////////
// Util functions
///////////////////////////////////////////////////////////////////////////////

function base64_decode (data) {
  // http://kevin.vanzonneveld.net
  // +   original by: Tyler Akins (http://rumkin.com)
  // +   improved by: Thunder.m
  // +      input by: Aman Gupta
  // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  // +   bugfixed by: Onno Marsman
  // +   bugfixed by: Pellentesque Malesuada
  // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  // +      input by: Brett Zamir (http://brett-zamir.me)
  // +   bugfixed by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  // *     example 1: base64_decode('S2V2aW4gdmFuIFpvbm5ldmVsZA==');
  // *     returns 1: 'Kevin van Zonneveld'
  // mozilla has this native
  // - but breaks in 2.0.0.12!
  //if (typeof this.window['atob'] === 'function') {
  //    return atob(data);
  //}
  var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
  var o1, o2, o3, h1, h2, h3, h4, bits, i = 0,
    ac = 0,
    dec = "",
    tmp_arr = [];

  if (!data) {
    return data;
  }

  data += '';

  do { // unpack four hexets into three octets using index points in b64
    h1 = b64.indexOf(data.charAt(i++));
    h2 = b64.indexOf(data.charAt(i++));
    h3 = b64.indexOf(data.charAt(i++));
    h4 = b64.indexOf(data.charAt(i++));

    bits = h1 << 18 | h2 << 12 | h3 << 6 | h4;

    o1 = bits >> 16 & 0xff;
    o2 = bits >> 8 & 0xff;
    o3 = bits & 0xff;

    if (h3 == 64) {
      tmp_arr[ac++] = String.fromCharCode(o1);
    } else if (h4 == 64) {
      tmp_arr[ac++] = String.fromCharCode(o1, o2);
    } else {
      tmp_arr[ac++] = String.fromCharCode(o1, o2, o3);
    }
  } while (i < data.length);

  dec = tmp_arr.join('');

  return dec;
}


///////////////////////////////////////////////////////////////////////////////
// Frontend Application 
///////////////////////////////////////////////////////////////////////////////

var HttpipeFrontendApp = (function() {
    // Constructor
    function HttpipeFrontendApp() {
        var self = this;

        // Bind hash change event
        $(window).bind('hashchange', function(e) {
            window.location.reload();
        });

        // Init
        this.init();
    };

    // Init
    HttpipeFrontendApp.prototype.init = function() {
        var self = this;

        // See if we have a session id hash
        var sid = '';
        if (!window.location.hash || window.location.hash.length != (HTTPIPE_SID_LEN+1)) {
            // Generate a new id
            var charset = 'abcdefghijklmnopqrstuvwxyz0123456789';
            for (var i = 0; i < HTTPIPE_SID_LEN; ++i) {
                sid += charset.charAt(Math.floor(Math.random() * charset.length));
            }

            // Switch to the sid
            window.location.hash = sid;
            return;
        } else {
            sid = window.location.hash.substr(1);
        }

        // Store sid
        this.sid = sid;

        // Set info
        var url = 'http://' + this.sid + '.' + window.location.host + '/';
        $('.top-container .info .magic-url').html('<a href="'+url+'" target="_blank">'+url+'</a>');
        $('.top-container .sid').text(sid);

        console.log('Session id: '+sid);

        // Init templates
        this.request_template = _.template($('#request-template').html());
        this.response_template = _.template($('#response-template').html());

        // Init DOM events (buttons, etc)
        $('#requests-container').on('click', '.request .accordion-heading .icon-refresh', $.proxy(this.on_btn_req_replay, this));
        $('#requests-container').on('click', '.request .resp-view-binary', $.proxy(this.on_btn_resp_view_binary, this));

        // Init socket.io
        var socket = io.connect(null, {
            resource: '__httpipe_socket.io',
        });
        this.socket = socket;

        socket.on('connect', function() {
            console.log('socket connected!', socket);
            socket.emit('room:join', sid);
        });

        socket.on('request', $.proxy(self.on_socket_request, self));
        socket.on('response', $.proxy(self.on_socket_response, self));
    };

    // socket.io event: request
    HttpipeFrontendApp.prototype.on_socket_request = function(req) {
        console.log('REQ', req);

        var $requests_container = $('#requests-container');

        var $el = $(this.request_template({ req: req }));
        $el.data('httpipe-req', req);
        $requests_container.prepend($el);
    };

    // socket.io event: response
    HttpipeFrontendApp.prototype.on_socket_response = function(req_id, resp) {
        console.log('RESP', req_id, resp);

        // Get container and template
        var $container = $('#requests-container').find('#'+req_id);
        if (!$container || !$container.length) {
            // TODO
            console.log('no request :(');
            return;
        }

        // Icon management
        $container.find('.accordion-toggle .icon-ajax').hide();
        if ((resp.status_code) >= 200 && (resp.status_code <= 299)) { // TODO
            $container.find('.accordion-toggle .icon-thumbs-up').show();
            $container.find('.accordion-heading .status-text').addClass('label-success');
        } else {
            $container.find('.accordion-toggle .icon-thumbs-down').show();
            $container.find('.accordion-heading .status-text').addClass('label-important');
        }

        // Status text
        $container.find('.accordion-heading .status-text').text(resp.status_code);

        // Response
        $container.find('.tab-response').html(this.response_template({ resp: resp }));
    };

    // DOM event: request replay button
    HttpipeFrontendApp.prototype.on_btn_req_replay = function(e) {
        e.stopPropagation();
        e.preventDefault();

        var req = $(e.target).parents('div.request').data('httpipe-req');
        console.log('replay', req);

        // Replay request
        this.socket.emit('replay_request', {
            method: req.method,
            url: req.url,
            headers: req.headers,
            data: req.data,
            sid: req.sid,
        });
    }

    HttpipeFrontendApp.prototype.on_btn_resp_view_binary = function(e) {
        e.preventDefault();
        $(e.currentTarget).parents('pre').next().show();
        $(e.currentTarget).parents('pre').remove();
    }

    return HttpipeFrontendApp;
})();


///////////////////////////////////////////////////////////////////////////////
// Init
///////////////////////////////////////////////////////////////////////////////

$(document).ready(function() {
    // Create app instance
    var app = new HttpipeFrontendApp();

    return;


    // html stuff
    var request_template = _.template($('#request-template').html());
    var response_template = _.template($('#response-template').html());
    var $requests_container = $('#requests-container');

    // socket.io
    var socket = io.connect(null, {resource: '__httpipe_socket.io'});
        socket.on('connect', function() {
            console.log('socket connected', socket);
        });

    socket.on('request', function(req) {
        console.log('REQ', req);
        var $el = $(request_template({
            req: req
        }));
        $el.data('httpipe-req', req);
        $requests_container.prepend($el);
    });

    socket.on('response', function(req_id, resp) {
        console.log('RESP', req_id, resp);

        // Get container
        var $container = $('#requests-container').find('#'+req_id);
        if (!$container || !$container.length) {
            // TODO
            console.log('no request :(');
            return;
        }

        // Icon management
        $container.find('.accordion-toggle .icon-ajax').hide();
        if ((resp.status_code) >= 200 && (resp.status_code <= 299)) { // TODO
            $container.find('.accordion-toggle .icon-thumbs-up').show();
        } else {
            $container.find('.accordion-toggle .icon-thumbs-down').show();
        }

        // Status text
        $container.find('.accordion-heading .status-text').text('[' + resp.status_code + ']');

        // Response
        $container.find('.tab-response').html(response_template({
            resp: resp
        }));
    });

    // buttons
    $requests_container.on('click', '.request .accordion-heading .icon-refresh', function(e) {
        e.stopPropagation();
        e.preventDefault();

        var req = $(this).parents('div.request').data('httpipe-req');
        console.log('replay', req);

        // Replay request
        socket.emit('replay_request', {
            method: req.method,
            url: req.url,
            headers: req.headers,
            data: req.data,
        });
    });
});
        </script>

        <$ if (server_config.ga_id && server_config.ga_id.length) { $>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', '<$= server_config.ga_id $>', '<$= server_config.ga_host $>');
              ga('send', 'pageview');

            </script>
        <$ } $>
    </body>
</html>
